.menuList {
  color: #1a1818;
  z-index: 999;
}

.title {
  margin-bottom: 8px;
  font-size: var(--font-size-m);
  line-height: var(--font-line-m);
  font-weight: var(--font-weight-500);
}

.wrapper {
  width: 100%;
}
