.step {
  margin-top: 16px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  justify-content: space-between;
  overflow-y: scroll;
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
}

.stepFooter {
  border-top: 1px solid var(--border-color);
  display: flex;
  justify-content: flex-end;
  padding: 12px 0;
  box-sizing: border-box;
}

.submitButton {
  height: 40px;
  width: 121px;
  font-size: var(--font-size-m);
  line-height: var(--font-line-m);
  font-weight: var(--font-weight-500);
}

.blocks {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding-bottom: 12px;

  &::-webkit-scrollbar {
    width: 1px;
    height: 8px;
  }

  &::-webkit-scrollbar-track {
    background: transparent
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--blue-color);
    border-radius: 30px;
  }
}
