.newReport {
  height: 100%;
  width: 600px;
  background: #FFFFFF;
  padding: 0 32px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.title {
  padding: 0;
  margin: 32px 0 16px;
  font-size: var(--font-size-h4);
  line-height: var(--font-line-h4);
  font-weight: var(--font-weight-600);
  min-height: 40px;
}

.header {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 12px 0;
  border-bottom: 1px solid var(--border-color);
  box-sizing: border-box;
  direction: rtl;
}

.backButton {
  justify-self: end;
}