.logo {
  object-fit: cover;
}

.main {
  &_normal {
    width: 96px;
    height: 32px;
  }
  &_small {
    width: 96px;
    height: 32px;
  }
}

.secondary {
  &_normal {
    width: 144px;
    height: 45px;
  }
  &_small {
    width: 120px;
    height: 40px;
  }
}

.mobile {
  &_normal {
    width: 32px;
    height: 32px;
  }
  &_small {
    width: 32px;
    height: 32px;
  }
}
