.page {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  padding: 32px;
  border: 1px solid var(--border-color);
  border-radius: 30px;
  width: 500px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.title {
  font-size: var(--font-size-h4);
  line-height: var(--font-line-h4);
  font-weight: var(--font-weight-600);
  margin: 0;
}