.block {
  margin-top: 12px;
  padding-bottom: 12px;
  border-bottom: 1px solid var(--border-color);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 8px;
  position: relative;
  color: var(--pale-color);
}

.title {
  margin: 0;
  font-size: var(--font-size-m);
  line-height: var(--font-line-m);
  font-weight: var(--font-weight-500);
  color: #15171E;
}

.point {
  font-size: var(--font-size-m);
  line-height: var(--font-line-m);
  font-weight: var(--font-weight-400);
}

.string {
  display: flex;
  align-items: center;
  gap: 8px;
  flex-wrap: wrap;
}

.twoColumns {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 8px
}

.list {
  list-style: none;
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.buttons {
  display: flex;
  gap: 12px;
  align-items: center;
  margin-top: 8px;
}

.editIcon * {
    stroke: var(--blue-color);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(21, 23, 30, 0.6);
}