.button {
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: 1px solid var(--border-color);
  border-radius: 50%;
  cursor: pointer;
  position: relative;
}

.disabled {
  cursor: help;
  background-color: var(--border-color);
}

.small {
  width: 20px;
  height: 20px;
}

.normal {
  width: 40px;
  min-width: 40px;
  height: 40px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.5);
}
