.button {
  border: none;
  background: none;
  cursor: pointer;
  padding: 0;
  display: flex;
  align-items: center;
  gap: 4px;
}

.blue {
  color: var(--blue-color);
}

.common {
  color: var(--text-color-primary);
}

.disabled {
  cursor: none;
}
