@import "../../../app/styles/mixins";

.modal {
  max-width: 464px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  @include mobile {
    max-width: 100%;
  }
}

.title {
  font-size: var(--font-size-h5);
  line-height: var(--font-line-h5);
  font-weight: var(--font-weight-600);
  margin: 0;
}

.subtitle {
  font-size: var(--font-size-m);
  line-height: var(--font-line-m);
  font-weight: var(--font-weight-400);
  margin: 0;
}